*{
    box-sizing: border-box;
}

body {
    background-color: grey;
    font-family: system-ui, sans-serif;
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    border: black solid 2px;
    background-color: azure;
}
#reset{
    justify-content: left;
    background-color: red;
    display: flex;
    justify-content: center;
}
#reset-bottom{

    justify-content: center;
    background-color: red;
    width: 100px;
    text-align: center;
    text-justify: center;
    color: yellow;
    justify-items: center;
    justify-content: center;
    
}

#reset-bottom:hover{
    background-color: yellow;
    color: red;
    cursor: pointer;
}
h1,h2,h3,h4 {
    text-align: center;
}

#hangman{
    align-items: center;
    justify-content: center;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 20px auto;
    justify-content: center;
}
.key {
    width: 40px;
    height: 40px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}
.key.in-word{
    background-color: #2a950c;
}
.key.not-in-word{
    background-color: #ae1717;
}
.row{
    display: flex;
    justify-content:center;
}