*{
    box-sizing: border-box;
}

body {
    justify-content: center;
    background-color: rgb(12, 18, 12);
    font-family: system-ui, sans-serif;
    margin: 0;
}

h1,h2,h3,h4 {
    text-align: center;
    color: #e9c46a;
}

#hangman{
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 20px auto;
    justify-content: center;
}
.key {
    width: 40px;
    height: 40px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9c46a;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}
.key.in-word{
    background-color: #2a9d8f;
}
.key.not-in-word{
    background-color: #e76f51;
}
.row{
    display: flex;
    justify-content:center;
}

.created-by{
    display: flex;
    align-items: center;
    justify-content: center;
    border: black solid 2px;
    background-color: rgb(170, 179, 179);
    padding: 5px;
    width: 200px;
    margin:20px auto;
}

#reset-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e76f51;
    width: 200px;
    height: 50px;
    color: #0c120c;
    margin: 20px auto;
    font-size: 24px;
    border: black;
    
}
#reset-bottom:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9c46a;
    color: #0c0c0c;
    cursor: pointer;
}